.sp-wrapper {
  display: inline-block;
  position: relative;
}

.sp-sparkle-wrapper {
  position: absolute;
  display: block;
  animation: comeInOut 700ms forwards;
  pointer-events: none;
}

.sparkle-svg {
  display: block;
  animation: spin 1000ms linear infinite;
}

.sp-child-wrapper {
  position: relative;
  z-index: 1;
  font-weight: bold;
}

@keyframes comeInOut {
  0% { transform: scale(0); }
  50% { transform: scale(1); }
  100% { transform: scale(0); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}