.footer-section {
  padding: 40px 20px 120px 20px; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* CENTER vertically */
  align-items: center;    /* CENTER horizontally */
  min-height: 50vh;
  text-align: center;     /* CENTER text */
}
span{
    color: #D083A0;
}

.footer-mini-title {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 40px;
    color: #9499a0 !important;
    margin: 0 0 20px 0;     /* حذف ال padding-left */
}

.footer-content-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;     /* CENTER horizontally */
  justify-content: center; /* CENTER vertically */
  text-align: center;
}

.heading-center {
  margin-bottom: 20px;
}

.footer-main-title {
  font-size: 3rem;
  font-weight: 800;
  margin: 0 0 10px 0;
}

.contact-text {
  font-size: 1.2rem;
  color: #d1d5db;
  line-height: 1.6;
  max-width: 500px;
}

/* Links */
.highlight-link {
  color: #D083A0;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
}

.highlight-link:hover {
  color: #d083a1ab;
}

/* LIGHT MODE SUPPORT */
body.light-mode .highlight-link:hover {
  color: #b16c87;
}

body.light-mode .contact-text {
  color: #000000;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-mini-title {
    font-size: 1.2rem;
  }
  .footer-main-title {
    font-size: 2rem;
  }
}
